<div class="content">
  <div class="nav">
    <h1>Dashboard</h1>
    <div class="nav-btns">
      <button mat-stroked-button color="warn">Username</button>
      {{actors.uid | json}}
      <button mat-stroked-button color="warn">Log out</button>
    </div>
  </div>
  <div class="dashboard">
    <div class="card" *ngFor="let film of allFilms">
      <app-dashboard
                [uid]="film.uid"
                [title]="film.properties.title"
                [description]="film.properties.opening_crawl"
                [producer]="film.properties.producer"
                [created]="film.properties.created"
                [url]="film.properties.url"
      ></app-dashboard>
    </div>
  </div>
</div>
