<div class="content">
  <div class="nav">
    <h1>Dashboard</h1>
    <div class="nav-btns">
      <button mat-stroked-button color="warn">Username</button>
      <button (click)="logOut()" mat-stroked-button color="warn">Log out</button>
    </div>
  </div>
  <div style="justify-content: center; margin: 50px auto;" *ngIf="loading else dashboard">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #dashboard>
    <h1 style="font-weight: 500; font-size: 14px; color: #CBD1DA;">Results: {{allFilms.length}}</h1>
  <div class="dashboard">
    <div class="card" *ngFor="let film of allFilms">
      <app-dashboard
                [episode_id]="film.episode_id"
                [title]="film.title"
                [description]="film.opening_crawl"
                [producer]="film.producer"
                [created]="film.created"
                [url]="film.url"
      ></app-dashboard>
    </div>
  </div>
  </ng-template>
</div>
