table {
  width: 1000px;
}

.tableContent {
  display: flex;
  margin: 46px auto;
  max-width: 1440px;
}

.loading {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-card {
  margin: 50px auto;
  width: 75%;

  $specialColor: #202020;

  span {
    opacity: 50%;
    font-size: 14px;
    color: $specialColor;
  }

  p {
    width: 550px;
    font-size: 18px;
    color: $specialColor;
    line-height: 2rem;
  }
}


