<div class="wrapper">
  <div class="errors">
    <tui-notification *ngIf="auth.error$ | async as error" status="error">
      {{error}}
    </tui-notification>
    <tui-notification *ngIf="message$ | async as message" status="warning">
      {{message}}
    </tui-notification>
  </div>
  <div class="form">
    <h1>Login</h1>
    <form class="example-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-hint>Enter your email</mat-hint>
        <mat-error *ngIf="form.value.email.touched && form.value.email.errors?.required">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field style="margin-top: 15px;" class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-hint>Minimum counts 5</mat-hint>
      </mat-form-field>
      <button style="margin-top: 10px;" [disabled]="submitted" mat-stroked-button>Join</button>
    </form>
  </div>
  <p class="form-text center">All rights reserved.</p>
</div>
